.gate__container {
  // background-image: url('../../assets/bg.jpg');
  background-size: cover;
}

.app__title {
  font-family: "Cinzel", serif;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-shadow: 0 3rem 0.2rem;
}

.hand__image {
  width: 5rem;
}
